@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Roboto", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

.dropdown-open {
  transition: opacity 400ms, height 400ms;
}
.dropdown-close {
  transition: opacity 100ms, height 300ms 50ms;
}

.landing-panel {
  background: linear-gradient(
    0deg,
    rgb(144, 131, 108) 0%,
    rgba(255, 207, 0, 0) 50%,
    rgb(144, 131, 108) 100%
  );
}

.landing-title {
  transition: 500ms;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 700ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.landing-quote {
  transition: 500ms;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 1200ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.airplane {
  transform: rotate(90deg);
  height: 100px;
  animation-name: slide-in;
  animation-delay: 800ms;
  animation-duration: 2500ms;
  animation-fill-mode: forwards;

  transform: translateX(100vw);
}
@keyframes slide-in {
  0% {
    transform: rotate(90deg) translateY(100vw);
  }

  50% {
    transform: rotate(90deg) translateY(0);
  }
  100% {
    transform: rotate(90deg) translateY(-100vw);
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.total,
.individual,
.recap,
.segment,
.individual-flight {
  -webkit-box-shadow: 8px 8px 15px -3px #000000;
  box-shadow: 8px 8px 15px -3px #000000;
}

.output {
  // background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(101, 84, 51, 0.586) 100%
  );
}
