@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Roboto", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
.App {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.dropdown-open {
  transition: opacity 400ms 400ms, height 400ms;
}
.dropdown-close {
  transition: opacity 100ms, height 300ms 50ms;
}
